body{ margin:10px;
      font-size:18px;
      background-color:black;
      font-family:serif;
      color:white;
      width:100%;
         }
.container{
                width:100%;
                   }

.header{
   height:50px;
   background-color:;
            }

.header img{
     position:fixed;
     top:0px;
     left:5px;
     margin-left:;
         }

 .menu-wrapper{
      margin-top:0px;
      margin-left:5px;
      font-size:20px;
        }



.top-wrapper {
           margin-bottom:50px;
           margin-top:50px;
          }

.text-wrapper{
           margin-bottom:50px;
           margin-top:50px;
          }

 .banner-wrapper{
           margin-bottom:50px;
           margin-top:50px;
          }
.news-wrapper{
           margin-bottom:50px;
           margin-top:50px;
          }

h2{
  text-align:center;
}

h3{
  text-align:right;
}

 footer{
 background-color:slategray;
 height:140px;
 border-radius:;
              }

.footer-logo{
    font-size:26px;
    padding-top:20px;
    padding-left:20px;
  　color:red;
              }




.header-right{

              position:fixed;
              top:10px;
              right:10px;
              font-weight:bold;
              border-bottom:;
              color:white;
              text-align:right;

              }

li{float:left;
    padding-right:0px;
   list-style:none;
　　font-size:20px;
    margin-left:5px;
    font-weight:bold;
}
 ul{
        margin-left:5px;
}

 .menu-wrapper{
    margin-left:5px;
 }




.sns-wrapper{position:fixed;
          right:10px;
          bottom:0px;
          font-weight:bold;
          margin-bottom:10px;
          margin-top:50px;
          color:white;
          text-align:right;
           background-color:;
         border-radius:;

          }



.box-title{
           font-weight:bold;
           font-size:26px;
           }



.footer-logo{
  font-weight:bold;
  font-size:22px;
  text-align:center;
  color:red;
       }

       .footer-text{
         font-weight:bold;
         font-size:;
         text-align:center;
         color:red;
              }
#link{
color:white;
}

#link2{
  color:black;
  background-color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
}
a:hover{ color:crimson;
            }


.last-text{
  text-align:center;
}
